body{background-color:#F5F5DC;font-family: 'Lato', sans-serif;margin: 5px;padding: 5px;flex-direction: column;}

header{ background: linear-gradient(to top, #F5F5DC, #FFFFFF);margin: -10px -10px 10px -10px;padding: 10px;display: flex;justify-content: space-between;}

h1{display: inline-block;color:#064E3B;padding: 8px;}

nav{display: inline-flex;color:#064E3B;padding: 8px;align-items: center;}

nav li{list-style: none;}

nav li a{color:#064E3B;text-decoration: none;font-size: 20px;}

main{display: block; margin: auto; min-height: 320px;max-width: 800px;}

@media(min-width: 1440px) and (max-width: 1680px){
    main{padding: 5% 11% 5% 2%;justify-content: space-between;display: flex; margin: 5% 10% 5% 10%; justify-content: flex-start;align-items: flex-start;}
}

form{background-color: #e6e6d6b9;border-radius: 10px;padding: 30px; }

@media(min-width: 319px) and (max-width: 375px){
    form{margin-top: -27px;}
}

@media(min-width: 1024px) and (max-width: 1439px){
    form{padding: 50px;}
}

@media(min-width: 1440px) and (max-width: 1680px){
    form{padding: 17% 8% 18% 0%;display: block;}
}

.cash{font-size: larger;font-family: 'Lato', sans-serif; background-color: #ffffffd7; border:1px solid rgba(49, 51, 50, 0.555); color: #1f5c3f;margin: 10px;padding: 15px;width: 88%;border-radius: 10px;}

@media(min-width: 319px) and (max-width: 375px){
    .cash {margin: 10px 10px 10px 0px;}
}

@media(min-width: 1440px) and (max-width: 1680px){
    .cash{ width: 805px;margin: 10px 10px 10px 60px;}
}

select{font-size: larger;font-family: 'Lato', sans-serif;background-color: #ffffffd7; border:1px solid rgba(49, 51, 50, 0.555); color: #1f5c3f;margin: 10px;padding: 15px;width: 92.4%;border-radius: 10px;}

select:hover{cursor: pointer;}

@media(min-width: 319px) and (max-width: 375px){
    select{margin: 10px 10px 10px 0px;width: 100% }
}

@media(min-width: 1024px) and (max-width: 1439px){
    select{width: 93%;}
}

@media(min-width: 1440px) and (max-width: 1680px){
    select{width: 839px;margin: 10px 10px 10px 60px;}
}

label{color: #1f5c3f;font-size: 18px; margin: 10px 10px 10px 10px}

#response{}

@media(min-width: 1440px) and (max-width: 1680px){
    #response{margin: 0px 29px; padding: 53px 3% 53px 3%}
}

#btn{background-color: #d6d9dd; border: none; display: block; margin: 10px auto 10px 30px;padding: 8px;border-radius: 5px;}

@media(min-width: 319px) and (max-width: 375px){
    #btn{margin: 10px 10px 10px 0px;width: 100%; }
}

@media(min-width: 1024px) and (max-width: 1439px){
    #btn{font-size: 16px;margin: 10px 10px 10px 10px;}
}

@media(min-width: 1440px) and (max-width: 1680px){
    #btn{padding: 8px;width: auto;margin: 10px 60px;}
}

#btn:hover{cursor: pointer;background-color: #1f5c3f;color: #d6d9dd;}

#cashtotal{display: inline-block; width: 50%;background-color: #dbeed4be; text-align: center;min-height: 89px;max-width: 800px;border-bottom: solid 5px rgba(49, 51, 50, 0.555); border-radius: 10px;}

@media(min-width: 319px) and (max-width: 375px){
    #cashtotal{width: 49%;padding-top: 20px; }
}

@media(min-width: 1024px) and (max-width: 1439px){
    #cashtotal{margin-top: 30px;font-size: 18px;}
}

@media(min-width: 1440px) and (max-width: 1680px){
    #cashtotal{padding:50px 101px;width: auto;margin: 10px 0px;}
}

#historic{display: inline-block;width: 49.5%;background-color: #dbeed4be;text-align: center;min-height: 89px;max-width: 800px;border-bottom: solid 5px rgba(49, 51, 50, 0.555); border-radius: 10px;}

@media(min-width: 319px) and (max-width: 375px){
    #historic{width: 50%;padding-bottom: 1px;}
}

@media(min-width: 1024px) and (max-width: 1439px){
    #historic{font-size: 18px;}
}

@media(min-width: 1440px) and (max-width: 1680px){
    #historic{padding:55px 10px; width: auto; margin: 10px 0px;}

    #historic #justificar{text-align: left; }
}




