body{background-color:#F5F5DC;font-family: 'Lato', sans-serif;margin: 5px;padding: 5px;flex-direction: column;}

header{ background: linear-gradient(to top, #F5F5DC, #FFFFFF);margin: -10px -10px 10px -10px;padding: 10px;display: flex;justify-content: space-between;}

#logo{ width: 50px; height: 50px;}

h1{color:#064E3B;padding: 8px; margin-right:3px; font-size: 17px;}

nav{display: flex; color:#064E3B;margin-right:5px ; padding: 8px 8px;align-items: center;}

nav li{display: flex; list-style: none;}

nav li a{color:#064E3B;text-decoration: none;font-size: 20px;}

main{display: block; margin: auto; min-height: 320px;max-width: 800px;}

#coin-container {width: 100px;height: 100px; }

#coin{text-align: center;position: relative;background-color: #7E9C85;color: #444444;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);animation: moveCoin 6s infinite ease-in-out; font-size: 25px;border: 1px solid;border-radius: 50%;padding-bottom: 10px;padding-top: 10px; margin: 5px 40% 5px 40%;}

#coin::before{position: absolute;margin-top: 40%;margin-left: 15%;transform: translate(-50%, -50%);}

@keyframes moveCoin {
    0% {transform: translateX(-140px);}
    50% {transform: translateX(140px);}
    100% {transform: translateX(-140px);} 
}
#start{background-color: #e6e6d6b9; padding: 10px 5px 10px 5px;color: rgba(26, 24, 24, 0.849); border-radius: 10px;font-size: 18px; margin: 35px 0px 55px 0px;}

#start p{text-align: justify;}

strong{color: #1f5c3f; font-size: 21px;}

#start #test{text-align: center;color: #064E3B;}

#start #arrow{text-align: center;color: #064E3B; font-size: 25px; border: 1px solid; border-radius: 50%;padding-bottom: 5px; margin: 5px 43% 5px 43%; cursor: pointer;}

form{background-color: #e6e6d6b9;border-radius: 10px;padding: 30px;margin-top: 20px; }

form p{ font-size: 17px;color: #064E3B;}

form p a{color: #1f5c3f;}

.cash{font-size: larger;font-family: 'Lato', sans-serif; background-color: #ffffffd7; border:1px solid rgba(49, 51, 50, 0.555); margin: 10px 10px 10px 0px;;padding: 15px;width: 88%;border-radius: 10px;color: rgb(117, 117, 117);}

select{font-size: larger;background-color: #ffffffd7; border:1px solid rgba(49, 51, 50, 0.555); margin: 10px 10px 10px 0px;width: 100%; margin-top: 12px; padding: 16px;border-radius: 10px; color: rgb(117, 117, 117);}

select:hover{cursor: pointer;}



label{color: #1f5c3f;font-size: 18px; margin: 10px 10px 10px 0px}

#othercamp{ display: none;margin: 10px 10px 10px 0px;width: 100% }

#othercamp #othertext{font-size: larger;font-family: 'Lato', sans-serif;background-color: #ffffffd7; border:1px solid rgba(49, 51, 50, 0.555);margin: 10px 10px 10px 0px;padding: 15px;width: 87%;border-radius: 10px; color: rgb(117, 117, 117);}

#othercamp #otherbtn{background-color: #d6d9dd; border: none; padding: 9px;border-radius: 5px; width: 100%;}

#othercamp #otherbtn:hover{cursor: pointer;background-color: #1f5c3f;color: #d6d9dd;}

#cashtotal{font-size: larger; margin-top: 15px; border-radius: 10px; border-bottom: solid 3px rgba(49, 51, 50, 0.555); color: #064E3B;}

#cashtotal #resultext{width: 100%;}

#cashtotal #result{ display:none;}

#btn{background-color: #d6d9dd; border: none; display: block; margin: 30px 10px 20px 0px;padding: 8px;border-radius: 5px; width: 100%;}
    
#btn:hover{cursor: pointer;background-color: #1f5c3f;color: #d6d9dd;}






